# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [9]:
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
customer_data = pd.read_csv(url)

In [10]:
# Identify the dimensions of the dataset by determining the number of rows and columns it contains.

customer_data_shape = customer_data.shape
print(f'''The total number of rows are: {customer_data_shape[0]}
The total number of columns are: {customer_data_shape[1]}''')

The total number of rows are: 4008
The total number of columns are: 11

In [11]:
customer_data.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [12]:
# Determine the data types of each column and evaluate whether they are appropriate 
# for the nature of the variable. You should also provide suggestions 
# for fixing any incorrect data types.

customer_data.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [13]:
# Customer Lifetime Value should be a float.

customer_data['Customer Lifetime Value'] = customer_data['Customer Lifetime Value'].str.replace('%','').astype('float')

In [14]:
customer_data.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [15]:
#Identify the number of unique values for each column and determine which columns appear 
# to be categorical. You should also describe the unique values of each categorical 
# column and the range of values for numerical columns, and give your insights.

for column in customer_data:
    customer_data_column = customer_data[column]
    print(f'The unique values in {column} are: {customer_data_column.nunique()}')

The unique values in Customer are: 1071
The unique values in ST are: 8
The unique values in GENDER are: 5
The unique values in Education are: 6
The unique values in Customer Lifetime Value are: 1027
The unique values in Income are: 774
The unique values in Monthly Premium Auto are: 132
The unique values in Number of Open Complaints are: 6
The unique values in Policy Type are: 3
The unique values in Vehicle Class are: 6
The unique values in Total Claim Amount are: 761

In [80]:
print('The categorical values in customer_data are:')
customer_data.select_dtypes(include='object').nunique()

The categorical values in customer_data are:

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
dtype: int64

The categorical values in customer_data are:
1. State
2. Gender
3. Education
4. Policy Type
5. Vehicle Class

Compute summary statistics such as mean, median, mode, standard deviation, 
and quartiles to understand the central tendency and distribution of the 
data for numerical columns. You should also provide your conclusions based 
on these summary statistics.

In [66]:
x=customer_data['Total Claim Amount']
print(x.max())
print(x.min())
print(x.max()-x.min())

2893.239678
0.382107
2892.857571

In [82]:
for column in customer_data.select_dtypes(include='number').columns:
    print(f'For the numerical column {column} we have the min value: {customer_data[column].min()} and the max value of {customer_data[column].max()}')

For the numerical column Customer Lifetime Value we have the min value: 200435.07 and the max value of 5816655.35
For the numerical column Income we have the min value: 0.0 and the max value of 99960.0
For the numerical column Monthly Premium Auto we have the min value: 61.0 and the max value of 35354.0
For the numerical column Total Claim Amount we have the min value: 0.382107 and the max value of 2893.239678

In [ ]:
# Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [16]:
customer_data.describe(include='object')

,Customer,ST,GENDER,Education,Number of Open Complaints,Policy Type,Vehicle Class
count,1071,1071,954,1071,1071,1071,1071
unique,1071,8,5,6,6,3,6
top,RB50392,Oregon,F,Bachelor,1/0/00,Personal Auto,Four-Door Car
freq,1,320,457,324,830,780,576

In [24]:
customer_data['GENDER'] = customer_data['GENDER'].str.replace('Femal','F').str.replace('female','F').str.replace('Male','M')

In [25]:
customer_data['GENDER'].value_counts()

GENDER
F    502
M    452
Name: count, dtype: int64

In [26]:
customer_data.describe().round(2)

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
count,1068.00,1071.00,1071.00,1071.00
mean,793690.26,39295.70,193.23,404.99
std,643478.41,30469.43,1601.19,293.03
min,200435.07,0.00,61.00,0.38
25%,403408.00,14072.00,68.00,202.16
50%,588174.24,36234.00,83.00,354.73
75%,896287.20,64631.00,109.50,532.80
max,5816655.35,99960.00,35354.00,2893.24

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [27]:
frequency_state = customer_data['ST'].value_counts().tail()
frequency_state.sort_values()

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [29]:
customer_data['Policy Type'].value_counts().head(1).index[0]
#or
customer_data['Policy Type'].value_counts().idxmax()

'Personal Auto'

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [53]:
filtered_dataframe = customer_data[['Policy Type','Income']]

In [56]:
filter_personal = filtered_dataframe[filtered_dataframe['Policy Type']=='Personal Auto']

In [58]:
filter_corporate = filtered_dataframe[filtered_dataframe['Policy Type']=='Corporate Auto']

In [62]:
avg_income_personal = filter_personal['Income'].mean()
print('The average income for personal auto policies is:', avg_income_personal)

The average income for personal auto policies is: 38180.69871794872

In [64]:
avg_income_corporate = filter_corporate['Income'].mean()
print('The average income for corporate auto policies is:', avg_income_corporate)

The average income for corporate auto policies is: 41390.31196581197

Personal Auto customers have a lower average income than corporate customers.

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [73]:
top_25 = customer_data['Total Claim Amount'].quantile(0.75)

In [79]:
customer_data[customer_data['Total Claim Amount'] > top_25]

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
17,OE15005,Cali,NaN,College,394524.16,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,NaN,Bachelor,245019.10,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,NaN,Bachelor,394637.21,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
...,...,...,...,...,...,...,...,...,...,...,...
1059,YG44474,Oregon,M,College,1401472.13,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945
1061,RY92647,Cali,F,Bachelor,1050677.17,0.0,92.0,1/0/00,Personal Auto,Four-Door Car,546.524896
1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000